* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: rgb(108, 176, 194);
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(66, 148, 159), rgb(78, 105, 194));
  font-family: sans-serif;
  color: white;
  border-radius: 33px;
}

.location,
.temperature {
 height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  justify-content: space-evenly;
}

.degree-section {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}



.temperature-description {
  font-size: 25px;
  text-transform: capitalize;
}

.speed-section {
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.speed-span {
  margin: 10px;
  font-size: 25px;
}